._Login {
    background-color: #ebe9d7;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}
.logo_home {
    width: 18.438rem;
    height: 4.5rem;
    object-fit: contain;
  }


  .BEM-VINDO-AO-EMPRESA {
    width: 11rem;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #383743;
  }

  .Lorem-ipsum-dolor-si {
    width: 22.359rem;
    height: 3.25rem;
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: -0.25px;
    text-align: center;
    color: #383743;
  }




  .indent{
    text-indent: 35px;
    
  }

 
  .prefix{
    margin:  -6px 36px;
  }

  form  {
    width: 450px;
  }

  .col.s12 > .btn {
    margin-left: 125px;
    width: 250px;
 }



  input::placeholder{
    
    opacity: 0.5;
    font-family: Roboto;
    font-size: 1.3rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.25px;
    text-align: left;
    color: #383743;
    

  }

  form{
    display: flex;
    flex-direction: column;
  }

  form div:nth-child(2){
    bottom:1rem;
  }