nav{
    
    width: 100vw;
    height: 7.438rem;
    justify-self: stretch;
    background-image: linear-gradient(0deg, rgba(194,62,105,1) 0%, rgba(238,76,119,1) 99%, rgba(65,155,249,1) 100%);
    
}

.Detalhe{
    background-color: #ebe9d7;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.center{
    margin-bottom: 10%; 
}


#cardDetalhe.card-content>img{
    margin-top:120px;
}

#cardDetalhe > .card-content {
    text-align: center;
    
    
}



#cardDetalhe.card div{
    
    
}



#cardDetalhe.card{
    height: 50rem;

}

.a{
    font-size: 2.125rem;
    text-align: center;
}

i {
    font-size: 50px !important;    
}
